body,
html {
  background-color: #1e2127 !important;
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: 'iCiel Medium';
  src: url('./iCiel\ Medium.ttf');
}

@font-face {
  font-family: 'SF Mono-Light';
  src: url('./SF-Mono-Light.otf');
}

.nav-collapse {
  text-align: right !important;
}

.home {
  position: relative;
  padding-top: 7vw;
  margin: 0 auto !important;
}

.homeCard {
  /* margin: 0 auto !important; */
}

@media (max-width: 10000px) {
  .name {
    font-size: 1.7rem;
    line-height: 1rem !important;
  }
  .role {
    font-size: 7rem;
  }
  .nav-link {
    font-size: 1.2rem;
  }
  .underline {
    width: 41rem;
  }
  .icon {
    height: 50px !important;
    width: auto;
    margin: 0 30px !important;
  }
  .homeCard {
    margin: 0 25% !important;
  }
}

@media (max-width: 2500px) {
  .name {
    font-size: 1.7rem;
    line-height: 1rem !important;
  }
  .role {
    font-size: 7rem;
  }
  .nav-link {
    font-size: 1.2rem;
  }
  .underline {
    width: 41rem;
  }
  .icon {
    height: 60px !important;
    width: auto;
    margin: 0 70px !important;
  }
  .col-md-2 {
    width: 23% !important;
  }
  .homeCard {
    margin: 0 25% !important;
  }
}

@media (max-width: 2000px) {
  .homeCard {
    margin: 0 auto !important;
    width: 800px !important;
  }
  @media (max-height: 700px) {
    .home {
      padding-top: 0 !important;
    }
    .footer {
      bottom: 0px !important;
      padding: 0px !important;
    }
    .icon {
      /* height: 30x !important; */
      width: auto;
    }
  }
}

@media (max-width: 1200px) {
  .name {
    font-size: 1.5rem;
    line-height: 2vw !important;
  }
  .role {
    font-size: 6rem;
  }
  .col-md-2 {
    width: 15% !important;
  }
  .nav-link {
    font-size: 1.2rem;
  }
  .underline {
    width: 35rem;
  }
  .icon {
    height: 60px !important;
    width: auto;
    margin: 20px 70px !important;
  }
  .content {
    width: 95% !important;
    box-sizing: content-box !important;
    padding-bottom: 150px !important;
  }
  .homeCard {
    margin: 0 auto !important;
    width: 700px !important;
  }
}

@media (max-width: 800px) {
  .name {
    font-size: 1.5rem;
    line-height: 2vw !important;
  }
  .role {
    font-size: 5rem;
  }
  .underline {
    width: 29.5rem;
  }
  .icon {
    height: 60px !important;
    width: auto;
    margin: 70px !important;
  }
  .content {
    padding-bottom: 180px !important;
    width: 95% !important;
  }
  .container {
    width: 100% !important;
  }
  .footer {
    padding-bottom: 0px !important;
  }
  .intro {
    font-size: 1.7rem !important;
  }
  .homeCard {
    margin: 0 auto !important;
    width: 495px !important;
  }
  @media (max-height: 600px) {
    .home {
      padding-top: 0 !important;
    }
    .footer {
      bottom: 5 !important;
    }
  }
}

@media (max-width: 766px) {
  .nav-link {
    font-size: 1.5rem;
    padding-top: 30px;
  }
}

@media (max-width: 600px) {
  .name {
    font-size: 1rem;
    line-height: 2vw !important;
  }
  .role {
    font-size: 4rem;
  }
  .nav-link {
    padding-top: 20px;
  }
  .underline {
    width: 24rem;
  }
  .footer {
    padding-bottom: 60px !important;
  }
  .doc-title {
    text-align: left;
  }
  .icon {
    /* height: 80px !important; */
    width: auto;
  }
  .content {
    width: 95% !important;
    padding-bottom: 300px !important;
  }
  .intro {
    font-size: 1.5rem !important;
  }
  .homeCard {
    margin: 0 auto !important;
    width: 410px !important;
  }
}

@media (max-width: 500px) {
  .name {
    font-size: 1rem;
    line-height: 2vw !important;
  }
  .role {
    font-size: 3.5rem;
  }
  .underline {
    width: 21rem;
  }
  .footer {
    padding-bottom: 120px !important;
  }
  .icon {
    height: 60px !important;
    width: auto;
    margin: 20px !important;
  }
  .content {
    padding-bottom: 300px !important;
  }
  .intro {
    font-size: 1.5rem !important;
  }
  .homeCard {
    margin: 0 auto !important;
    width: 365px !important;
  }
}

@media (max-width: 400px) {
  .name {
    font-size: 1rem;
    line-height: 2vw !important;
  }
  .role {
    font-size: 3.3rem;
  }
  .underline {
    width: 19.5rem;
  }
  .footer {
    padding-bottom: 150px !important;
  }
  .icon {
    height: 60px !important;
    width: auto;
  }
  .project {
    margin-bottom: 20px;
  }
  .intro {
    font-size: 1.5rem !important;
  }
  .homeCard {
    margin: 0 auto !important;
    width: 338px !important;
  }
}

@media (max-width: 350px) {
  .name {
    font-size: 1rem;
    line-height: 2vw !important;
  }
  .role {
    font-size: 2.4rem;
  }
  .underline {
    width: 14.2rem;
  }
  .footer {
    padding-bottom: 100px !important;
  }
  .icon {
    height: 60px !important;
    width: auto;
  }
  .home {
    padding: 0 !important;
    margin: 0 !important;
  }
  .homeCard {
    padding: 0 !important;
    margin: 0 auto !important;
    width: 250px !important;
  }
}

*/ .underline > h1 {
  height: 10px;
}

.navbar {
  margin: 0rem 2rem;
}

.navbar-nav {
  margin-left: auto;
}
.nav-link {
  /* padding-left: 1vw; */
  font-family: 'SF Mono-Light';
}

.navbar-toggler-icon {
  height: 50px !important;
  width: 50px !important;
}

.name {
  color: #9b9b9b !important;
  letter-spacing: 0.5vw !important;
  white-space: nowrap;
  line-height: 1.2vw;
  padding-left: 0.5vw !important;
}

.role {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}

.nameCard {
  font-family: 'iCiel Medium';
}

.content {
  margin-top: 4%;
  text-align: center;
  margin-bottom: 5rem;
  padding-bottom: 6rem;
}

.project-name {
  font-family: 'iCiel Medium';
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 5px;
  text-decoration: none;
}

.plus {
  color: #9b9b9b !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.35rem;
  margin-bottom: 20px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link {
  color: white !important;
}

.underline {
  text-align: center;
  display: block;
  border-bottom: 2px solid #9b9b9b;
}

.external-link {
  color: white;
}

.external-link:hover {
  color: #9b9b9b;
}

.software {
  margin: auto !important;
}

.project-cover {
  width: 100%;
  height: 80%;
  background: #1b58c0;
  transition: background 0.2s;
}

.project {
  opacity: 0.6;
  transition: opacity 0.2s;
}

.project:hover {
  opacity: 1;
}

.project-link {
  margin: 0;
}

.big-image {
  width: 100% !important;
  height: 100% !important;
}

.pbot-account {
  height: 20rem;
}

.pbot-tweet {
  width: 100%;
  margin-bottom: 1rem;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon {
  color: white;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.icon:hover {
  opacity: 1;
}

.page {
  position: relative;
  min-height: 100vh;
}

.footer {
  /* padding: 13% 15%; */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  text-align: center;
}
